.infoblock{
  position: fixed;
  right: 0;
  bottom: 0;
  pointer-events: none;
}

@media(max-width: 1325px){
  .infoblock{
    width: 40%;
  }
}

@media(max-width: 700px){
  .infoblock{
    width: 55%;
  }
}