.infoblock{
  position: fixed;
  right: 0;
  bottom: 0;
  pointer-events: none;
}

@media(max-width: 1325px){
  .infoblock{
    width: 40%;
  }

  footer{
    text-align: left !important;
  }
}

@media(max-width: 700px){
  label{
    display: none;
  }

  .infoblock{
    width: 55%;
  }
}