@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('./illustration-styles.css');

html{
  scroll-behavior: smooth;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

p {
  font-size: 1rem;
  color: #222;
  line-height: 1.5;
}

.container {
  max-width: 800px;
  margin: 4rem auto;
  padding: 0 2rem;
}

.tooltip {
  background: #222;
  color: #fff;
  position: relative;
  display: inline-block;
  padding: 0.2rem 0.5rem;
  margin-left: 0.25rem;
  font-weight: bold;
  border-radius: 50%;
  cursor: default;
}

.tooltip:hover::after {
  content: attr(data-tooltip);
  position: absolute;
  background: #222;
  font-weight: normal;
  padding: 1rem;
  left: 150%;
  top: -80%;
  width: max-content;
  max-width: 400px;
  line-height: 1.5;
  border-radius: 6px;
  animation: fadeIn 400ms;
}

.tooltip:hover::before {
  content: '';
  position: absolute;
  top: 35%;
  right: -50%;
  border: 6px solid transparent;
  border-right-color: #222;
  animation: fadeIn 400ms;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.about {
  margin-top: 4rem;
}

.about h2 {
  margin-bottom: 2rem;
}

.about p {
  margin-bottom: 1.5rem;
}

.offer-card {
  background: #f5f5f5;
  border-radius: 6px;
  padding: 2rem;
  width: fit-content;
  height: fit-content;
}

.offer-card h3 {
  margin-bottom: 1.5rem;
}

.offer-card ul {
  margin-left: 1.5rem;
  list-style-image: url('../assets/checkmark-black.svg');
}

.offer-card ul li {
  padding-left: 0.5rem;
  margin-bottom: 0.75rem;
}

.services h2 {
  margin-bottom: 2rem;
}

.services--cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.divider-info {
  padding: 0.25rem;
  background: #000;
  color: #fff;
}

.divider-info h2 {
  margin-bottom: 1.5rem;
}

.divider-info p, .divider-info a {
  color: #fff;
  border-color: #fff;
}

.identity-design h1 {
  margin-bottom: 3rem;
}

.identity-design--flow {
  margin-left: 0.85rem;
}

.identity-design--flow--step h3 {
  margin-bottom: 0.5rem;
}

.identity-design--flow--step {
  position: relative;
  padding: 0 0 2.5rem 2.5rem;
  border-left: 1px solid #909090;
}

.identity-design--flow--step::before {
  content: attr(data-step);
  position: absolute;
  left: -0.85rem;
  top: -0.075rem;
  background: #000;
  color: #fff;
  border-radius: 50%;
  padding: 0.2rem 0.5rem;
  font-weight: bold;
}

.identity-design--flow--step:last-child {
  border-left: 0;
}

.identity-design--flow--step:last-child::before {
  color: transparent;
  background-image: url('../assets/checkmark-white.svg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

header{
  padding: 1.5rem 0;
  position: fixed;
  width: 100%;
  transition: 300ms;
  z-index: 10000;
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

.header-thin{
  padding: 0.5rem 0;
  background: #fff;
  box-shadow: 0 0 6px #bdbdbd;
}

body{
  background: url('../assets/bg.png');
  background-repeat: no-repeat;
  background-size: contain;
}

main{
  padding-top: 5rem;
}

.logo{
  border: 0;
}

.logo img {
  width: 200px;
}

nav a{
  margin-left: 2rem;
  border: 0;
}

a{
  color: #222;
  text-decoration: none;
  border-bottom: 2px solid #222;
  transition: 200ms;
}

textarea{
  resize: vertical;
}

.contact h1{
  text-align: center;
}

.contact form{
  width: 75%;
  margin: 2rem auto;
}

.contact form .small-text-info{
  font-size: 12px;
  color: #222;
  margin-top: 1rem;
}

.input-field{
  position: relative;
}

::placeholder{
  color: transparent;
}

.input-field label{
  position: absolute;
  top: 0;
  left: 10px;
  background: #fff;
  padding: 0 0.25rem;
  color: #444;
}

input, textarea{
  padding: 1rem;
  width: 100%;
  border: 2px solid #ededed;
  border-radius: 5px;
  margin: 0.5rem 0;
  font-size: 16px;
}

.link-btn{
  border: 0 !important;
  display: inline-block;
  margin-top: 1.5rem;
}

button, .btn{
  background: #000;
  color: #fff;
  border: 0;
  border-radius: 5px;
  padding: 0.75rem 1.5rem;
  cursor: pointer;
  font-size: 16px;
  transition: 200ms;
}

button:hover, .btn:hover{
  background: #444;
  transform: scale(1.025) translateY(-2px);
  box-shadow: 0 4px 0 #222;
}

button:active, .btn:active{
  transform: scale(0.975);
  box-shadow: none;
}

:focus{
  outline: 1px solid #000;
}

.references h1{
  text-align: center;
  margin-bottom: 3.5rem;
  padding-top: 4rem;
}

.references .cards{
  display: grid;
  grid-template-columns: repeat(8, 12.5%);
}

.card {
  height: auto;
  overflow: hidden;
}

.card .img-wrapper img{
  width: 100%;
  opacity: 0.5;
  transition: 200ms;
  cursor: pointer;
}

.testimonials{
  max-width: 80%;
  min-height: 10rem;
  margin: 4rem auto;
  position: relative;
}

.testimonials::before{
  content: '„';
  font-size: 4rem;
  color: #e2e2e2;
  line-height: 1;
  position: absolute;
  left: -3.5rem;
  bottom: 0;
}

.testimonials::after{
  content: '”';
  font-size: 4rem;
  color: #e2e2e2;
  line-height: 1;
  position: absolute;
  right: -3rem;
  top: 0;
}

.testimonials h2{
  margin-bottom: 1rem;
}

footer{
  background: #000;
  color: #fff;
  padding: 2rem;
  text-align: center;
}

@media(max-width: 1200px) {
  body {
    background-size: unset;
    background-position: -180px 0;
  }
}

@media(max-width: 850px){
  .references .cards{
    grid-template-columns: repeat(4, 25%);
  }

  .tooltip:hover::after {
    left: 0;
    top: 0;
    transform: translate(-50%, -110%);
    width: 200px;
  }
  
  .tooltip:hover::before {
    display: none;
  }
}

@media(max-width: 720px){
  .references .cards{
    grid-template-columns: repeat(2, 50%);
  }

  .logo img {
    width: 150px;
  }

  .services--cards {
    flex-direction: column;
  }

  .services--cards .offer-card {
    width: 100%;
  }

  .services--cards .offer-card:not(:first-child) {
    margin-top: 1rem;
  }

  .testimonials {
    max-width: unset;
  }

  .testimonials::before{
    left: -1rem;
    bottom: -2rem;
  }

  .testimonials::after{
    right: -1rem;
    top: -2rem;
  }

  .contact form{
    width: auto;
  }

  header nav{
    display: block;
    position: fixed;
    width: 100%;
    background: #fff;
    padding-top: 6rem;
    left: -100%;
    top: 0;
    height: 100%;
    font-size: 1.5rem;
    text-align: center;
    transition: 300ms;
  }

  footer{
    text-align: left !important;
  }

  nav a{
    display: block;
    margin: 2.5rem 0;
  }

  .menu{
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
  }

  .menu .bar{
    width: 100%;
    height: 3px;
    border-radius: 10px;
    background: #222;
    z-index: 100;
    transition: 300ms;
  }

  .menu:focus{
    pointer-events: none;
  }

  .menu:focus .bar{
    transform: rotateZ(-45deg);
    position: absolute;
  }

  .menu:focus .bar:nth-child(3){
    transform: rotateZ(45deg);
  }

  .menu:focus + nav{
    left: 0;
  }
}
